version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pos_postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=pos_db
    ports:
      - "5432:5432"
    volumes:
      - pos_db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: pos_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  pos_db_data:
  redis_data:
